<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homework31</title>
</head>
<body>
    <form action="/search" method="post">
        <input type="text" name="url" id="url">
        <input type="submit" name="enter" id="enter">
    </form>
    <h1>HTML-код запрошенной страницы</h1>
    <div>
        {{address}}
    </div>
</body>
</html>